# Python
__pycache__/
*.py[cod]
*.sqlite3
.venv/
venv/
.env

# Django static/media
staticfiles/
media/

# Flutter/Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.metadata
build/
**/build/

# IDE
.vscode/
.idea/

# OS
Thumbs.db
.DS_Store
